<a href="https://colab.research.google.com/github/nkljukin/Python-train/blob/main/groupby_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('https://stepik.org/media/attachments/course/4852/my_stat_1.csv')

In [3]:
data.head()

   session_value  time group  n_users
0            0.0    12     B        9
1            NaN    11     A       -1
2            1.0     8     A        1
3            2.0     9     B        3
4            2.0    10     B        9

In [4]:
data_1 = data.fillna(value = 0)

In [5]:
data_1.head()

   session_value  time group  n_users
0            0.0    12     B        9
1            0.0    11     A       -1
2            1.0     8     A        1
3            2.0     9     B        3
4            2.0    10     B        9

In [6]:
group_mean = data_1.groupby('group', as_index=False).agg({'session_value': 'mean'})

In [7]:
group_mean.columns = ['group', 'mean_session_value']

In [8]:
group_mean.head()

  group  mean_session_value
0     A                 0.8
1     B                 0.8